<section class="panel">

        <div class="panel-body">
              <div class="adv-table">
                  <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info" class="display table table-bordered table-striped">
                      <thead>
                      <tr>
                          <th>Farmer</th>
                          <th>Delivery</th>
                          <th class="hidden-phone">Amount</th>
                          <th class="hidden-phone">Authorized By</th>
                      </tr>
                      </thead>
                      <tbody>
                      <% if !@payments.nil? %>
                          <% @payments.each do |payment| %>
                              <tr class="gradeX">
                                  <td>
                                      <%= link_to payment.farmer.name, farmer_path(payment.farmer) %>
                                  </td>
                                  <td>
                                      <%= link_to payment.delivery.description, delivery_path(payment.delivery) %>
                                  </td>
                                  <td class="hidden-phone">
                                      <%= payment.amount %>
                                  </td>
                                  <td class="center hidden-phone">
                                      <%= link_to payment.user.name, user_path(payment.user) %>
                                  </td>
                              </tr>
                          <% end %>
                      <% end %>
                      
                      </tbody>
                  </table>

              </div>
        </div>
        </section>