<div class = "row">
		<div class = "col-md-6">
			<div style = "padding-left: 50px;padding-top: 50px;">
				<%= link_to image_tag("/assets/milk_money.jpg", width: "400", height: "300"), root_path, :class => "logo" %>
			</div>
		</div>
		<div class = "col-md-6 well jumbotron">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quas, dignissimos veritatis fugiat excepturi quod, odit recusandae enim nemo quia repudiandae, rerum cum nobis explicabo pariatur praesentium suscipit porro commodi.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quas, dignissimos veritatis fugiat excepturi quod, odit recusandae enim nemo quia repudiandae, rerum cum nobis explicabo pariatur praesentium suscipit porro commodi.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quas, dignissimos veritatis fugiat excepturi quod, odit recusandae enim nemo quia repudiandae
			</p>
		</div>
	</div>